body {
    background-color: rgb(223, 235, 221);
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: rgb(74, 70, 70);
    text-decoration: underline;
}
.nav_ul {
    list-style-type: none;
    margin: 2rem;
    text-align: left;
    background-color: rgb(165, 173, 163);
    list-style-position: inside;
    
    
}
.nav_ul li {
    display: inline-block;
    margin-left: 1rem;
    
}

.header {
    margin: 2rem;
    text-align: center;
    background-color: rgb(165, 173, 163);
}
.content {
    margin: 2rem auto 2rem auto;
    padding: 0.5rem 1rem 1rem 1rem;
    text-align: left;
    background-color: rgb(165, 173, 163);
    width: 35vw;
}

.footer {
    margin: 2rem;
    text-align: left;
    background-color: rgb(165, 173, 163);
    color: rgb(66, 64, 64);
}
.message {
    margin: 2rem;
}
#add-new-task {
    text-align: left;
    padding-left: 2rem;
}

.content ol {
    list-style-position: inside;
    list-style-type: decimal;
}