body {
    background-color: rgb(223, 235, 221);
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: rgb(74, 70, 70);
    text-decoration: underline;
}
.nav_ul {
    list-style-type: none;
    margin: 2rem;
    text-align: left;
    background-color: rgb(165, 173, 163);
    
}
.nav_ul li {
    display: inline-block;
    margin-left: 1rem;
}

.header {
    margin: 2rem;
    text-align: center;
    background-color: rgb(165, 173, 163);
}
.content {
    margin: 2rem;
    text-align: center;
    background-color: rgb(165, 173, 163);
}
.message {
    margin: 2rem;
}

